---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
export const getStaticPaths = (({ paginate }) => {
    const astronautPages = [
        { astronaut: "张三" },
        { astronaut: "李四" },
        { astronaut: "王五" },
        { astronaut: "赵六" },
        { astronaut: "田七" },
        { astronaut: "杨八" },
        { astronaut: "戴九" },
        { astronaut: "伍十" },
    ];
    return paginate(astronautPages, { pageSize: 2 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout title="CCC">
    <div>
        {JSON.stringify(page)}
        <h1>Page {page.currentPage}</h1>
        <ul>
            {page.data.map((item) => <li>{item.astronaut}</li>)}
        </ul>

        {page.url.prev ? <a href={page.url.prev}>Prev</a> : null}
        {page.url.next ? <a href={page.url.next}>Next</a> : null}
    </div>
</Layout>
